<div id="wrapper">
    <h1>Welcome to BrewScrape</h1>
    <div id="articles">
        {{#each Article}}
        <div>
            <h3>{{this.title}}</h3>
        </div>
        {{/each}}
    </div>
    <div id="notes"></div>
</div>